body {
    padding-top: 75px;
    margin: 0 0 20px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.panel-footer.panel-custom {
    color: #FFFFFF;
    background-color: #222222;
    height: 150px;
}



