<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.leanModal.min.js') }}"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/loginstyles.css') }}" />

    {% block headcontent %}{% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/starter.css') }}">
    {% if title %}
    <title>{{ title }} - The BGPB</title>
    {% else %}
    <title>Welcome to Brian Gillespie's Personal Blog!</title>
    {% endif %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" style="text-align: left;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BGPB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Resume</a></li>
                <li><a href="/dog">Dog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-top: 7px">
                <a class="outlinks"  href="http://www.github.com/briangillespie" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/GitHub-Mark-Light-32px.png') }}"></a>
                <a class="outlinks"  href="https://www.linkedin.com/in/bngillespie" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/In-2C-34px-R.png') }}"></a>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 10px">
                {% if not current_user.is_authenticated %}
                <li><a style="color: darkgray;" id="modal_trigger" href="#modal">Login</a></li>
                {% else %}
                <li><a style="color: darkgray;" href="/logout" target="#">Logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <span style="padding: 5px;"><strong>Please select a login option</strong></span>
        <br><br>
        <div class="social_login">
            <div class="clearfix">
                <a class="social_box fb" style="background: #3B5998" href="/authorize/facebook" target="_self" rel="noopener noreferrer"><span class="icon_title" style="display: block;padding: 5px 0;float: left;font-weight: bold;font-size: 16px;color: #FFFFFF;">Connect with Facebook</span></a>
                <a class="social_box twitter" style="background: #0084b4" href="/authorize/twitter" target="_self" rel="noopener noreferrer"><span class="icon_title" style="display: block;padding: 5px 0;float: left;font-weight: bold;font-size: 16px;color: #FFFFFF;">Connect with Twitter</span></a>
                <a class="social_box google" style="background: #F90101" href="/authorize/google" target="_self" rel="noopener noreferrer"><span class="icon_title" style="display: block;padding: 5px 0;float: left;font-weight: bold;font-size: 16px;color: #FFFFFF;">Connect with Google</span></a>
            </div>
        </div>
    </section>
</div>
<script>
    // Plugin options and our code
    $("#modal_trigger").leanModal({
        top: 100,
        overlay: 0.6,
        closeButton: ".modal_close"
    });

    $(function() {
        // Calling Login Form
        $("#login_form").click(function() {
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Calling Register Form
        $("#register_form").click(function() {
            $(".social_login").hide();
            $(".user_register").show();
            $(".header_title").text('Register');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function() {
            $(".user_login").hide();
            $(".user_register").hide();
            $(".social_login").show();
            $(".header_title").text('Login');
            return false;
        });
    });
</script>


{% block content %}{% endblock %}

<div style="position:fixed;bottom:0;left:0;right:0;height:40px;" class="panel-footer panel-custom">
    <div class="container">
        <p class="text-muted">Brian Gillespie</p>
    </div>
</div>
</body>
</html>