{% extends "base.html" %}

{% block headcontent %}
<!-- Core CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/photoswipe.css') }}">

<!-- Skin CSS file (styling of UI - buttons, caption, etc.) -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/pswp-skins/default-skin.css') }}">

<!-- Core JS file -->
<script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>

<!-- UI JS file -->
<script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/dogs.css') }}">
{% endblock %}

{% block content %}

<div style="width: 80%; margin: 30px auto; font-family: sans-serif;">
    <div class="my-gallery">
        <a class="dogpic" href="https://c5.staticflickr.com/8/7596/27623548476_676b1f6901_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c5.staticflickr.com/8/7596/27623548476_676b1f6901_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c3.staticflickr.com/8/7223/27623547586_a95e2fbc11_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c3.staticflickr.com/8/7223/27623547586_a95e2fbc11_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c5.staticflickr.com/8/7494/27380088500_4a9694c691_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c5.staticflickr.com/8/7494/27380088500_4a9694c691_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c8.staticflickr.com/8/7304/27044774783_ade213a629_h.jpg">
            <figure>
                <img class="dogthumb" src="https://c8.staticflickr.com/8/7304/27044774783_ade213a629_h.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c1.staticflickr.com/8/7333/27554716112_f3a8c50e46_b.jpg">
            <figure>
                <img class="dogthumb" src="https://c1.staticflickr.com/8/7333/27554716112_f3a8c50e46_b.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c5.staticflickr.com/8/7117/27558061892_cce41ced1b_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c5.staticflickr.com/8/7117/27558061892_cce41ced1b_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c5.staticflickr.com/8/7584/27380106300_6a078b0c2f_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c5.staticflickr.com/8/7584/27380106300_6a078b0c2f_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c7.staticflickr.com/8/7419/27623554406_b39bc17725_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c7.staticflickr.com/8/7419/27623554406_b39bc17725_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c5.staticflickr.com/8/7374/27558063892_a3c69a500b_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c5.staticflickr.com/8/7374/27558063892_a3c69a500b_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c3.staticflickr.com/8/7619/27623555026_574697613d_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c3.staticflickr.com/8/7619/27623555026_574697613d_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c5.staticflickr.com/8/7456/27558064292_fa9631f4b4_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c5.staticflickr.com/8/7456/27558064292_fa9631f4b4_z.jpg" alt="">
            </figure>
        </a>
        <a class="dogpic" href="https://c1.staticflickr.com/8/7420/27380111480_e301a3ae37_z.jpg">
            <figure>
                <img class="dogthumb" src="https://c1.staticflickr.com/8/7420/27380111480_e301a3ae37_z.jpg" alt="">
            </figure>
        </a>
    </div>
</div>
<!--<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--<div class="pswp__bg"></div>-->
<!--<div class="pswp__scroll-wrap">-->

<!--<div class="pswp__container">-->
<!--<div class="pswp__item"></div>-->
<!--<div class="pswp__item"></div>-->
<!--<div class="pswp__item"></div>-->
<!--</div>-->

<!--<div class="pswp__ui pswp__ui&#45;&#45;hidden">-->
<!--<div class="pswp__top-bar">-->
<!--<div class="pswp__counter"></div>-->
<!--<button class="pswp__button pswp__button&#45;&#45;close" title="Close (Esc)"></button>-->
<!--<button class="pswp__button pswp__button&#45;&#45;share" title="Share"></button>-->
<!--<button class="pswp__button pswp__button&#45;&#45;fs" title="Toggle fullscreen"></button>-->
<!--<button class="pswp__button pswp__button&#45;&#45;zoom" title="Zoom in/out"></button>-->
<!--<div class="pswp__preloader">-->
<!--<div class="pswp__preloader__icn">-->
<!--<div class="pswp__preloader__cut">-->
<!--<div class="pswp__preloader__donut"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="pswp__share-modal pswp__share-modal&#45;&#45;hidden pswp__single-tap">-->
<!--<div class="pswp__share-tooltip"></div>-->
<!--</div>-->
<!--<button class="pswp__button pswp__button&#45;&#45;arrow&#45;&#45;left" title="Previous (arrow left)">-->
<!--</button>-->
<!--<button class="pswp__button pswp__button&#45;&#45;arrow&#45;&#45;right" title="Next (arrow right)">-->
<!--</button>-->
<!--<div class="pswp__caption">-->
<!--<div class="pswp__caption__center"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% endblock %}